---
layout: default
title: Ivan Hectors | Spotify Playlist! 
permalink: /playlist.html
---
{% include switch.html %}
<div class="name"><a href="{{site.url}}">Ivan Hectors</a></div>
<h2 class="intro__contact">Listen to my
    <strong><a href="https://open.spotify.com/playlist/06mHKfU9ttHiRa4tjeL1mC" target="_blank" class="highlight-link">Playlist</a></strong> from <strong>Spotify</strong>, enjoy!
    <span class="emoji running"></span>
  </h2>

  <iframe src="https://open.spotify.com/embed/playlist/06mHKfU9ttHiRa4tjeL1mC" style="border: 0; width: 100%; height: 500px;" allowfullscreen allow="encrypted-media"></iframe>

  <h3 class="intro__contact">
    <span>Go back </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="{{site.url}}" target="_blank" class="highlight-link">home</a>
    </span>
  </h3>
  
{% include footer.html %}
