<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Graduate from  
      <a class="underline-link" href="https://ukdw.ac.id/" target="_blank">Duta Wacana Christian University</a>, majoring in Information Systems. Currently working as a System Analyst at <a class="underline-link" href="https://nbs.co.id/" target="_blank">PT Kode Aplikasi Indonesia</a> and previously worked as a System & Procedure at one of the biggest FMCG companies in Indonesia, 
      <a class="underline-link" href="https://www.mayoraindah.co.id/id" target="_blank">Mayora Group</a>. 
    </p>

    <p>
      As a tech guy, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably reading romcom novels, watching movies and TV shows, 
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
