<section class="section experience">
  <div class="section__title">Experience</div>
  <div class="section__content">
    <div class="jobs">
      {% for job in site.data.experience %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a href="{{job.url}}" target="_blank">{{job.company}}</a>
          </div>
          <div class="job__time">{{job.time}}</div>
        </div>
        <div class="job__position">{{job.position}}</div>
      </div>
      {% endfor %}
    </div>
  <h3 class="intro__contact">
 <span>
    View <a href="https://drive.google.com/file/d/1wjDjt2OqpEzbe6ZJJhHqjXD_kZfF2ZbD/view" target="_blank" class="highlight-link">My Resume</a> or <a href="https://www.linkedin.com/in/ivanhectors" target="_blank" class="highlight-link">My Profile Details</a>
  </span>
  </h3>
  </div>
</section>
