<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project kko">
      <figure class="project__pic">
        <a href="https://github.com/ivanhectors/kko/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/kko/kko.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/ivanhectors/kko/" target="_blank">KKO</a>
        </div>
        <p>University Project - Online Consultation System for Information System students built with PHP, JavaScript, HTML/CSS & SQL.</p>
      </figcaption>
    </div>

    <div class="project dutafilia">
      <figure class="project__pic">
        <a href="https://github.com/ivanhectors/dutafilia/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/ivanhectors/dutafilia/" target="_blank">Duta Filia</a>
        </div>
        <p>Duta Filia is a community website for sharing information about various events, training and seminars related to adolescent reproductive health. Website built with PHP, JavaScript, HTML/CSS & SQL.</p>
      </figcaption>
    </div>

    <div class="project jajan">
      <figure class="project__pic">
        <a href="https://github.com/ivanhectors/jajan/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/jajan/jajan.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/ivanhectors/jajan/" target="_blank">Jajan</a>
        </div>
        <p>It's simple e-commerce website. Created the whole project for coursework of web programming courses. Users are able to add selected products to shopping basket themselves until payment and checkout products. Website built with PHP, JavaScript, HTML/CSS & SQL.</p>
      </figcaption>
    </div>

  </div>
</section>
