<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span style="font-size: 8pt">Developed by</span>
    </div>
    <div class="bottom">
      <span>IVAN HECTORS |</span>
      <span>2020</span>
      <img class="emoji" src="{{site.baseurl}}/img/emojis/rockon.png" alt="emoji">
    </div>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
  </div>
</footer>
