<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Ivan</span>, a bachelor of Information Systems & passionate about optimizing business processes through the effective use of technology.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:ivanhectors@outlook.com" target="_blank" class="highlight-link">ivanhectors@outlook.com</a> or listening to my <a href="/playlist.html" class="highlight-link">playlist</a> on <strong>Spotify</strong>.
    </span>
  </h3>
  
  <a class="status" href="https://drive.google.com/file/d/1wjDjt2OqpEzbe6ZJJhHqjXD_kZfF2ZbD/view" target="_blank">
  <div class="status__light">
    <div class="status__light__ring"></div>
    <div class="status__light__led"></div>
  </div>
  <div class="status__message">Currently seeking full-time opportunities!</div>
</a>

</header>
