
<header class="intro">
    <h1 class="intro__hello">
        <iframe src="https://open.spotify.com/follow/1/?uri=spotify:user:ivansinambela&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
        <span class="emoji wave-hand animated"></span>
      </h1>
    <h2 class="intro__contact">Did i mention that i love music? well, you can Listen to my
      <strong><a href="https://open.spotify.com/playlist/06mHKfU9ttHiRa4tjeL1mC" target="_blank" class="highlight-link">Playlist</a></strong> from <strong>Spotify</strong> here. Enjoy!
      <span class="emoji running"></span>
    </h2>
    
    <iframe src="https://open.spotify.com/embed/playlist/06mHKfU9ttHiRa4tjeL1mC" style="border: 0; width: 100%; height: 500px;" allowfullscreen allow="encrypted-media"></iframe>
  
    <h3 class="intro__contact">
        
      <span>Go back </span>
      <span class="emoji pointer"></span>
      <span>
        <a href="{{site.url}}" class="highlight-link">home</a>
      </span>
    </h3>
  </header>
  