<header class="intro">
  
    <h2 class="intro__contact">Listen to my
      <strong>Playlist</strong> from <strong>Spotify</strong>, enjoy!
      <span class="emoji running"></span>
    </h2>

    <iframe src="https://open.spotify.com/embed/playlist/06mHKfU9ttHiRa4tjeL1mC" style="border: 0; width: 100%; height: 700px;" allowfullscreen allow="encrypted-media"></iframe>
  
    <h3 class="intro__contact">
      <span>Get in touch </span>
      <span class="emoji pointer"></span>
      <span>
        <a href="mailto:ivansnbl@gmail.com" target="_blank" class="highlight-link">ivansnbl@gmail.com</a>
      </span>
    </h3>
  </header>
  